#
# Touchscreen driver configuration
#

config TOUCHSCREEN_MTK_FOCALTECH_TS
	bool "FT5X0X for Mediatek package"
	default n
	help
	  Say Y here if you have FT5X0X touch panel.
	  If unsure, say N.

	  To compile this dirver as a module, choose M here: the
	  module will be called.